/* =================================================
                  Common Code
=================================================== */
body {
    margin: 0;
    padding: 0;
    font-family: georgia, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #666666;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 96%;

}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

textarea:focus,
input:focus {
    outline: none;
}



/* =================================================
              Top Header Area CSS
================================================== */
.header_area {
    width: 100%;
    clear: both;
}

#top_header_area {
    width: 100%;
    background: #ba2e1f;
    padding: 13px 0;
}

.inner_top_header {
    overflow: hidden;
}

.mini_menu {
    float: left;
    width: 70%;
    padding-top: 3px;
}

.mini_menu ul {
    margin: 0;
    padding: 0;
    text-align: left;

}

.mini_menu ul li {
    display: inline-block;
    margin-right: 16px;
    position: relative;
}

.mini_menu ul li::after {
    content: "";
    height: 12px;
    width: .5px;
    background: #fff;
    position: absolute;
    top: 5px;
    right: -8px;
}

.mini_menu ul li:last-child:after {
    display: none;
}

.mini_menu ul li a {
    display: block;
    color: #fff;
    font-size: 13px;
}

.mini_menu ul li a:hover {
    display: block;
    color: #ddd;
    font-size: 13px;
}

.search_bar {
    float: right;
    width: 30%;
}

.search_bar form {
    float: right;
    max-width: 210px;
    width: 97%;
    background: #fff;
    padding: 1.5%;
    border-radius: 25px;
    overflow: hidden;
}

.search_bar form input {
    width: 70%;
    float: left;
    border: 0;
}

.search_bar form input[type="submit"] {
    background: url(img/search_icon.png) no-repeat right;
    width: 20%;
    float: right;
    cursor: pointer;
}



/* ==============================================
              Main Header Area CSS
============================================ */
#main_header_area {
    width: 100%;
    clear: both;
}

.inner_main_header {
    overflow: hidden;
    padding: 20px 0;
    /* PSD padding: 40px 0; */
}

.logo_area {
    width: 30%;
    float: left;
}

.logo_area img {
    width: 230px;
    float: left;
}



.social_area {
    width: 70%;
    float: right;
    padding-top: 23px;
}

.social_area ul {
    text-align: right;
}

.social_area ul li {
    display: inline-block;
    margin-left: 10px;
}

.social_area ul li a {
    display: block;
}

.social_area ul li a i {
    background: #333;
    color: #fff;
    font-size: 18px;
    width: 32px;
    height: 25px;
    padding-top: 7px;
    text-align: center;
    border-radius: 50%;
}

.social_area ul li a:hover i {
    background: #ba2e1f;
}

.social_area ul li a:hover i.fa-linkedin-in {
    background: #0077B5;
}

.social_area ul li a:hover i.fa-twitter {
    background: #55acee;
}

.social_area ul li a:hover i.fa-pinterest {
    background: #bd081c;
}

.social_area ul li a:hover i.fa-google-plus-g {
    background: #dd4b39;
}

.social_area ul li a:hover i.fa-rss {
    background: #ee802f;
}



/* ==============================================
              Nav Menu CSS
============================================ */
#nav_menu {
    width: 100%;
    clear: both;
}

.inner_nav_menu {
    background: #333333;
    border-radius: 5px;
    position: relative;
    min-height: 40px;
    z-index: 1;
}

.inner_nav_menu::after {
    content: "";
    background: #2b2b2b;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    border-radius: 5px;
    z-index: -1;
}

.inner_nav_menu ul {
    text-align: center;
    padding: 10px 0;

}

.inner_nav_menu ul li {
    display: inline-block;
    margin: 0 11px;
    position: relative;
}

.inner_nav_menu ul li a {
    display: block;
    text-transform: capitalize;
    color: #e9e8e3;
}

.inner_nav_menu ul li a:hover {
    color: #ba2e1f;
}


/* ============ Dropdown ============== */
.inner_nav_menu ul ul {
    position: absolute;
    background: #2b2b2b;
    min-width: 120px;
    text-align: left;
    margin: 0;
    padding: 0;
    top: 20px;
    /* left: 0; */
    left: -9999px;
    display: none;
}

.inner_nav_menu ul li:hover ul {
    left: 0;
    display: block;
}

.inner_nav_menu ul li:hover ul ul {
    visibility: hidden;
}

.inner_nav_menu ul ul li {
    display: block;
    margin: 0;
    border-bottom: 1px solid #aaa;
}

.inner_nav_menu ul ul li a {
    display: block;
    padding: 5px 10px;
}

.inner_nav_menu ul ul ul {
    top: 4px;
    /* left: 120px; */
    left: -9999px;
}

.inner_nav_menu ul ul li:hover ul {
    visibility: visible;
    left: 120px;
}

/* ======== Dropdown Hover Effect ========= */

.inner_nav_menu ul li:hover a {
    color: #ba2e1f;
}

.inner_nav_menu ul li:hover ul li a {
    color: #fff;
}

.inner_nav_menu ul li ul li:hover a {
    background: #ba2e1f;
}

.inner_nav_menu ul ul li:hover ul li a {
    background: none;
}

.inner_nav_menu ul ul li ul li a:hover {
    background: #ba2e1f;
}






/* ==============================================
              Hero Area CSS
============================================ */
#hero_area {
    width: 100%;
    clear: both;
}

.inner_hero_area {
    overflow: hidden;
    padding-top: 25px;
}

.hero_photo_area img {
    width: 400px;
    height: auto;
    float: left;
}

.hero_text_area {
    float: right;
    width: 500px;
    height: 440px;
    padding-left: 45px;
}

.hero_text_area h1 {
    padding-top: 60px;
    margin-bottom: 0;
    color: #000;
    font-size: 82px;
    line-height: 60pt;
    font-weight: normal;
}

.hero_text_area p {
    margin-top: 8px;
    color: #666666;
    font-size: 16px;
    line-height: 18pt;
    font-weight: normal;
}

.hero_text_area a {
    float: right;
    color: #ba2e1f;
    font-size: 16px;
    line-height: 18pt;
    font-weight: normal;
}

.hero_text_area a:hover {
    color: #ff5746;
}




/* ==============================================
              Info Area CSS
============================================ */

#info_area {
    width: 100%;
    clear: both;
    background: #f2f2f2;
}

.inner_info_area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /*==== Common text for info area ==== */
    padding: 64px 0;
    font-size: 14px;
    line-height: 20px;
}

.info_area {
    width: 31%;
}

/*==== Common Info Style ====*/
.info_header {
    font-weight: normal;
    font-size: 26px;
    padding-bottom: 50px;
}

.info_area a {
    color: #b92d1f;
    float: right;
}

.info_area a:hover {
    color: #ff5746;
}

.about_area img {
    border: 1px solid #dfdfdf;
    padding: 4px;
    width: 97%;
}

.about_area p {
    text-align: justify;
}

.service_items {
    padding-bottom: 22px;
}

.service_items:nth-child(5) {
    padding-bottom: 0;
}

.service_items img {
    height: 64px;
    width: 64px;
    float: left;
    margin-right: 18px;
}


.service_items h4 {
    font-size: 16px;
    margin: 0;
    padding: 10px 0 0 0;
    line-height: 2.5px;
}

.service_items p {
    margin-left: 82px;
}

.testimonial_items img {
    width: 53px;
    height: auto;
    float: left;
    margin-right: 11px;
}

.testimonial_person h4 {
    font-size: 19px;
    padding-top: 15px;
    line-height: 14px;
}

.testimonial_person h4 span {
    font-weight: normal;
}

.testimonial_items p {
    text-align: justify;
}

.second_testimonial_items {
    padding-top: 20px;
}




/* ==============================================
              Footer Area CSS
============================================ */
#footer_area {
    width: 100%;
    clear: both;
}

.inner_footer_area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

.child_footer {
    width: 22%;
    clear: both;
    padding: 10px 0;
}

.child_footer h2 {
    font-size: 15px;
    border-top: 1px solid #666666;
    padding: 20px 0;
}

.child_footer a {
    color: #ba2e1f;
    font-size: 14px;
    line-height: 0;
}

.child_footer a:hover {
    color: #ff5746;
}

.child_footer p {
    font-size: 14px;
    line-height: 18px;
}


.links_area a {
    color: #666666;
    padding: 13px 0;
    display: block;
    position: relative;
    border-bottom: 1px solid #d4d4d4;
}

.links_area a:hover {
    color: #ba2e1f;
}



.blogs_area {
    padding-bottom: 5px;

}

.blogs_area h3 {
    color: #666666;

}

.blogs_area h3 a {
    color: #666666;
}

.blogs_area h3 a:hover {
    color: #666666;
}

.blogs_area h6 {
    /* margin-top: -17px; */
    font-size: 13px;
    font-weight: normal;
    line-height: 12px;
}

.blogs_area h6 a {
    font-size: 13px;
}

.blogs_area p {
    font-size: 14px;
    margin-top: -15px;
}

.read_more a {
    font-size: 14px;
    float: right;
}

.child_footer form input {
    width: 91%;
    background: #f2f2f2;
    padding: 4.5%;
    border: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #000;
}

.child_footer form textarea {
    background: #f2f2f2;
    padding: 4.5%;
    border: 0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.child_footer form input[type="submit"] {
    width: 80px;
    color: #ba2e1f;
    border-radius: 5px;
    display: block;
}

.child_footer form input[type="submit"]:hover {

    color: #fff;
    background: #ba2e1f;
    cursor: pointer;
}




/* ==============================================
              Copyright Area CSS
============================================ */
#copyright_area {
    width: 100%;
    clear: both;
    background: #f2f2f2;
}

.inner_copyright_area {
    overflow: hidden;
    padding: 5px 0;
}

.inner_copyright_area p {
    color: #919191;
}

.left_side {
    float: left;
}

.right_side {
    float: right;
}